{% extends 'base.html' %}

{% block content %}

<p>

    <a href="https://docs.djangoproject.com/en/3.0/">Django </a> <br> <br>
    <a href="https://www.django-rest-framework.org/tutorial/quickstart/">Django Rest Framework: </a> <br> <br>
    <a href="https://github.com/RamosRRamos/django-heroku">Django Heroku </a> <br> <br>
    <a href="https://github.com/justdjango/django_project_boilerplate">Django Project BoilerPlate </a> <br> <br>
    <a href="https://mdbootstrap.com/freebies/jquery/admin-dashboard/">MDB Admin Dashboard</a> <br> <br>

</p>

{% endblock %}