{% extends 'base.html' %}
{% block content %}
<p>
"Attention the visual part has not been properly worked out since the test is for the back end, so it does not reflect
    my ability as a front end".
    <br>
    <br>
Project Plan D, uses the following technologies:
    <br>
Django, <br>
Django-Heroku, <br>
Django Rest Framework, <br>
Django Project BoilerPlate, <br>
MDB Admin Dashboard, <br>
Other smaller libraries. <br>
    <br>
    <br>
In the documentation found on this simple website we have all the links to access the contents listed above,
    <br>
To use the API, api does not have specific rules for use so it can be used using "PostMan" or the graphical interface
    provided by the Django Rest Framework itself, this is available at this link: <br>
    https://pland-end.herokuapp.com/rest/place/
    <br>
The basic use of the Django Admin Panel, for the CRUD provided by Django himself
    <br>
Login: admin <br>
Password: 123456 <br>
    <br>
Also included CRUD using simple Based Views for inclusion of websites. <br>
    (Update) <br>


It was also placed in the git of the challenge, the solution. <br>
If you want to run the solution, you need to install venv, as well as install the requirements that are in the <br>
    requirements.txt file<br>
</p>
{% endblock content %}